In [ ]:
#NPRU Workshop
#Python เบื้องต้น

# การแสดงข้อความ
ใน Python เราใช้คำสั่ง print( ) เพื่อแสดงข้อความที่ต้องการให้ปรากฎต่อผู้ใช้
โดย ข้อความหรือ text ที่เราอยากให้มันพูดต้องอยู่ในเครื่องหมาย " " (double quote) หรือ ' ' (single quote)

ตัวอย่าง เช่น

In [ ]:
print("Hello Python")

In [ ]:
print("Python for Non-Programmer")
print('Python for Non-Programmer')
print("จะ single quote หรือ double quote ก็ปริ้นได้เหมือนกัน")

In [ ]:
# ลองสั่งให้มันพิมพ์ชื่อของคุณ
print("")

In [ ]:
# เราสามารถสั่งปริ้นแบบขึ้นบรรทัดใหม่ได้ง่ายๆ ด้วยการใส่ \n ไปในข้อความของเรา
# \n แปลว่าขึ้นบรรทัดใหม่ !! มาลองดูตัวอย่าง

print("line one\nline two\nline three")

#ตัวแปร
เราสร้างตัวแปรง่ายๆด้วยรูปแบบ variable_name = value

x = 100

y = 200

income_this_year = 25000

income_next_year = 35000

---



การตั้งชื่อตัวแปรที่ดี ให้ตั้งชื่อแบบนี้


1. ใช้ตัวพิมพ์เล็ก lower-case
2. ห้ามขึ้นต้นด้วยตัวเลข
3. ถ้าชื่อยาวให้เชื่อมด้วย _ 
4. ห้ามใช้ reserved words ในการตั้งชื่อ เช่น if, else, for, while ฯลฯ

In [ ]:
# ตัวอย่าง
x = 100
y = 200
hello_world = 'hello world!'
myname = "nut"

In [ ]:
# สร้างตัวแปร income, food_expense, travel
income = 15000
food_expense = 5000
travel = 3000

In [ ]:
# จงคำนวณหา saving เงินออมของเราว่าเดือนนึงจะเหลือเงินออมเท่าไร?
saving = income - food_expense - travel
print("เงินออมต่อเดือน")
print(saving)

In [ ]:
# ถ้าเราเก็บเงินครบ 1 ปี (12 เดือน) จะมีเงินเท่าไร?
yearly_saving = saving * 12
print("ฝากครบหนึ่งปี เราจะมีเงินออมเท่ากับ")
print(yearly_saving)

In [ ]:
# ถ้าเราฝากเงินก้อนนี้ไปอีก 10 ปี ดอกเบี้ยปีละ 15% ทบต้น 
# เงินฝากของเราจะเป็นเท่าไร?
# ลองคำนวณได้ง่ายๆดวยสูตรดอกเบี้ยทบต้น FV = PV*(1+interest)**year

FV = yearly_saving * ((1+0.15) ** 10)
print("ฝากเงินก้อนนี้ไปอีก 10 ปี ได้ดอกเบี้ยปีละ 15% เงินออมของเราจะเพิ่มขึ้นเป็น")
print(FV)

## Test Your Knowledge
ในหนึ่งวันมีเวลากี่วินาที ลองคำนวณได้ใน cell ถัดไป

In [ ]:
# total seconds in one day
hour = 24
minute = 60
total_second = ""

print("หนึ่งวันมีทั้งหมดกี่วินาที?")
print(total_second)

เราสามารถตรวจสอบชนิดของข้อมูลต่างๆด้วยฟังก์ชัน type( )
---
ในตัวอย่างนี้เราจะสร้างตัวแปรทั้ง 4 ประเภท แล้วมาดูว่าเป็นข้อมูลประเภทไหนกัน

In [ ]:
#ประกาศตัวแปร
my_text = 'Python for Data Report'
my_int = 1
my_float = 1.5895
my_bool = True

#ตรวจสอบประเภทข้อมูลด้วย type()print(type(my_text))
print(type(my_text))
print(type(my_int))
print(type(my_float))
print(type(my_bool))

In [ ]:
# นับความยาวของ string 
print(len(word1))

# ตัวดำเนินการ
หลังจากที่ได้ทราบ วิธีสร้างตัวแปรไปแล้ว ต่อไป มาลองใช้สัญลักษณ์ทางคณิตศาสตร์ (Mathematical Operator) เล่นกับตัวแปรกัน

ใน Python นั้น มีสัญลักษณ์ทางคณิตศาสตร์ให้เลือกใช้มากมาย ซึ่งขอจับคู่อธิบายให้เข้าใจง่ายๆดังนี้


*   `+ ` บวก  และ – ลบ
*   `* ` คูณ  และ  / หาร 
*   // หารแบบไม่เอาเศษ (floor division) 
*   %  โมดูโล หรือ หาเศษที่เหลือจากการหาร
*  ** ยกกำลัง

In [ ]:
#มาดูตัวอย่างจาก Code  บวกและ ลบ กันก่อน

print (5 + 2)
print (5 - 2)

เราสามารถเก็บค่าไว้ในตรวจแปรก่อนที่จะนำไปคำนวนก็ได้

In [ ]:
x = 5
y = 2
print ((x + y) * 2)
print ((x + y) / 2)

ตัวอย่างการหารไม่เอาเศษ และหาเศษจากการหาร

In [ ]:
print (17 // 5)
print (17 % 5 )

จะสังเกตุว่าการใช้ // ผลที่ออกมาได้จะไม่มีเศษ จึงทำให้ข้อมูลที่ออกมาได้จะเป็น ข้อมูลประเภท int เสมอ

ซึ่งต่างกับการใช้ / ต่อให้ผลหารออกมาลงตัว ข้อมูลที่ได้ก็จะออกมาเป็น float เสมอ

In [ ]:
#@title Default title text
x = 15 // 5
y = 15 / 5
print (x)
print (y)
print (type(x))
print (type(y))

การยกกำลังและ ถอดรูท ในตัวอย่างนี้จะยกกำลัง 9 ด้วย 2 และ ถอดรูท 2 ของ 9

In [ ]:
print (9**2)
print (9**(1/2))

# กฏการเรียงลำดับที่เรียกว่า PEMDAS
1. Parentheses (ในวงเล็บ) – ทำเป็นอย่างแรกสุด
2. Exponent (ยกกำลัง)
3. Multiply (คูณ)
4. Division (หาร)
5. Addition (บวก)
6. Subtraction(ลบ) – ทำเป็นอย่างสุดท้าย

In [ ]:
#ตัวอย่างลำดับการคำนวณ
3**2*7+8-4/2

In [ ]:
#ตัวอย่างลำดับการคำนวณ 2
print(( 4/(2 + 3**2) - 5+9 ))
print(( 4/2 + (3**2 - 5+9 )))

## Data Types



Python มี data types หลักๆอยู่ 4 ประเภท

*   **int** - ตัวเลขจำนวนเต็ม เช่น 1 2 3 4 5
*   **float** - ตัวเลขมีทศนิยม เช่น 2.34 5.12 3.4 7.89
*   **string** - ข้อความ ชื่อ เหมือน "hello world" 
*   **bool** - True/ False

ตรวจสอบ data types ของตัวแปรได้ง่ายๆด้วยฟังชั่น **type()**

In [ ]:
x = 100
y = 2.4
z = "I'm learning Python"
k = False

In [ ]:
# ตรวจสอบ data type 
print(type(x))
print(type(y))
print(type(z))
print(type(k))

## Int vs. Float

int เป็นตัวเลขจำนวนเต็ม ส่วน float เป็นตัวเลขที่มีทศนิยม

ในทางสถิติเราเรียกตัวแปร int ว่า discrete หรือ count // ส่วน float เราเรียกว่า continuous

เราสามารถเปลี่ยน data type ของ variable ระหว่าง int กับ float ด้วยฟังชั่น **int()** และ **float()** ตามลำดับ

In [ ]:
# int variable
x = 5
print(x)
print(type(x))

In [ ]:
# float variable
y = 5.2
print(y)
print(type(y))

In [ ]:
# เปลี่ยน int ให้กลายเป็น float
x = 5
print(type(x))

x = float(x)
print(type(x))

In [ ]:
# เปลี่ยน float ให้กลายเป็น int
# ทศนิยมจะถูกตัดทิ้งไปเลย
y = 6.5
print(y)
print(type(y))

y = int(y)
print(y)
print(type(y))

In [ ]:
# ลองกด run code cell นี้ดู
# 4/2 4/2.0 4.0/2 ได้ผลต่างกันไหม? อันไหนได้ int อันไหนได้ float
print(4/2)
print(4/2.0)
print(4.0/2)

## Bool
[George Boole](https://en.wikipedia.org/wiki/George_Boole) เป็นผู้ให้กำเนิด Boolean Algebra ซึ่งเกี่ยวข้องกับค่า True/ False ในการเขียนโปรแกรมนั่นเอง 

(เค้าเลยตั้งชื่อ data type นี้ว่า bool ใน Python) ใน Python คือค่า **True / False**

![alt text](https://upload.wikimedia.org/wikipedia/commons/c/ce/George_Boole_color.jpg)

Python และ programming language อื่นๆจะมีการเขียน equality condition 
ที่ใช้ตรวจสอบว่าสองฝั่งมีค่าเท่ากัน (น้อยกว่า มากกว่า etc) หรือเปล่า? เช่น **10 - 2 == 8 จริงไหม? **

In [ ]:
# == ใช้เทียบสองฝั่งของสมการ
10 - 2 == 8

In [ ]:
# เราสามารถใช้เครื่องหมาย == != < > <= >= ได้หมดเลยนะครับ
10 * 2 < 19

In [ ]:
# != อ่านว่าไม่เท่ากับ
555 != 55

In [ ]:
# Python เป็น case-sentitive ตัวพิมพ์เล็กจะไม่เท่ากับตัวพิมพ์ใหญ่
'A' == 'a'

In [ ]:
'Hello' == 'hello'

In [ ]:
# สร้าง bool variable ง่ายๆ
my_bool = 2 * 2 == 4

print(my_bool)
print(type(my_bool))

## True = 1 False = 0

bool variable: True และ False ใน Python จะมีค่าติดตัวมันอยู่ด้วย True = 1 และ False = 0

In [ ]:
# สร้างตัวแปร x เก็บค่า True เป็น bool variable
x = True
print(x)
print(type(x))

In [ ]:
# เปลี่ยน x ให้กลายเป็น int ด้วย int()
x = int(x)
print(x)
print(type(x))

In [ ]:
# เปลี่ยนตัวแปร int ให้กลายเป็น bool ด้วย bool()
x = 0
print(x)
print(type(x))

x = bool(x)
print(x)
print(type(x))

## String
เราเห็น string มาเยอะแล้วในตัวอย่างวันนี้ สังเกตง่ายๆ string (หรือข้อความ) จะอยู่ในเครื่องหมายคำพูด double quote (" ") หรือ single quote (' ')

In [ ]:
my_favourite_team = "Arsenal"
print(my_favourite_team)

In [ ]:
my_name = "toy"
your_name = "miranda"

print(type(my_name))
print(type(your_name))

In [ ]:
# เราสามารถเปลี่ยนตัวแปรทั้งหมดให้กลายเป็น string ด้วย str()
x = 10000
print(x)
print(type(x))

x = str(x)
print(x)
print(type(x))

## Summary Data Types

Data Types ใน Python เบื้องต้นประกอบด้วย int float string bool 

ไม่ว่าโมเดลของเราจะยากขนาดไหน หน่วยเล็กที่สุดก็คือ int float string bool อยู่ดี

การเข้าใจ Data Types เป็นพื้นฐานสำคัญของการทำงาน Data Science ด้วย Python

- int()
- float()
- str

# ประโยคเงื่อนไง

# ลูป

# Lists

# Dictionaries

# Test

In [ ]:
import requests
import pprint

url = 'https://randomuser.me/api/?results=1'
users = requests.get(url).json()
pprint.pprint(users)

In [ ]:
# import wikipedia

# result = wikipedia.page('deep learning')
# print(result.summary)

# for link in result.links:
#     print(link)

In [ ]:
#pip install wikipedia
pip install emoji

In [ ]:
from emoji import emojize
print(emojize(":thumbs_up:"))