In [ ]:
#NPRU Workshop
#pandas

#Import pandas และ numpy library

In [ ]:
import pandas as pd
import numpy as np

# เปิดไฟล์ csv ด้วยคำส่ง read_csv

In [ ]:
df = pd.read_csv('train.csv', index_col=0)

##เปิดไฟล์ master.csv ด้วยคำสั่ง read_csv เก็บในตัวแปร master

In [ ]:
master = pd.read_csv('master.csv', index_col=[0,1,2,3])

# ดู 5 แถวแรก

In [ ]:
df.head()

##ดู 5 แถวแรก จากข้อมูล master

# ดูค่าของ Index

In [ ]:
index = df.index
print(index)

##ดูค่าของ Index ของข้อมูล master

# ดูชื่อ Column

In [ ]:
print(df.columns.values)

##ดูชื่อ Column ของข้อมูล master

# นับช่องที่ไม่ได้ใส่ข้อมูล

In [ ]:
df.isnull().sum()

##นับช่องที่ไม่ได้ใส่ข้อมูล ของ master

# ดู column ชื่อ Servieved

In [ ]:
df[['Survived']]

##ดู column ชื่อ country จากข้อมูล master

# ดูข้อมูล coulmn ชื่อ Survived,  Pclass และ Name

In [ ]:
df[['Survived', 'Pclass', 'Name']]

##ดูข้อมูล coulmn ชื่อ country , year, sex และ age จาก master

# ดูข้อมูลแถวที่มีค่า Index เท่ากับ 1

In [ ]:
df.loc[[1]]

##ดูข้อมูลแถวที่มีค่า Index เท่ากับ Thailand จาก master

# ดูข้อมูลแถวที่มีค่า Index เท่ากับ 2 ถึง 4

In [ ]:
df.loc[2:4]

##ดูข้อมูลแถว Thailand ถึง United Kingdom

# ดูข้อมูลแถวที่มีค่า Index เท่ากับ 2 ถึง 4 เฉพาะ column ชื่อ Age

In [ ]:
df.loc[2:4,['Age']]

##ดูข้อมูลแถวที่มีค่า Index เท่ากับ Thailand ถึง United Kingdom เฉพาะ column ชื่อ population และ generation

# ดูข้อมูลทุกแถวที่ column Sex เป็นผู้หญิง

In [ ]:
df[df['Sex']=='male']

##ดูข้อมูลทุกแถวที่ column generation เป็น Generation X

# คัดลอกข้อมูลใส่ตัวแปร data

In [ ]:
data = df.copy()

##คัดลอกข้อมูลใส่ตัวแปร master_copy

# สรุปค่าสถิติพื้นฐานของ column Age

In [ ]:
data["Age"].describe()

##สรุปค่าสถิติพื้นฐานของ column population

# ค้นหาข้อมูลตามเงื่อนไงด้วยคำสั่ง query

In [ ]:
data.query("Sex == 'female' and Pclass =='1' and Survived == 0")

##ค้นหาข้อมูลของประเทศไทยที่เป็นผู้ชาย อยู่ใน generation ตามเงื่อนไงด้วยคำสั่ง query

# เพิ่ม column ใหม่ ชื่อ Died มีค่าเท่ากับ 1- ค่าใน column เก่าชื่อ Survived

In [ ]:
data['Died']= 1 - data['Survived']

In [ ]:
data.head()

# วาดกราฟแท่งโดยจัดกลุ่มตามเพศ และรวมจำนวนคนที่รอดและตายในแต่ละเพศ

In [ ]:
data.groupby('Sex').agg('sum')[['Survived','Died']].plot(kind='bar',stacked=True)

# วาดกราฟ Violin แสดงเพศในแกน x และ อายุ ในแกน y

In [ ]:
import seaborn as sns

In [ ]:
sns.violinplot(x='Sex', y='Age', hue='Survived',data=data,split=True)

# วาด Histrogram แสดงจำนวนคนที่รอด และเสียชีวิต โดยดูจากค่าโดยสาร

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
figure = plt.figure(figsize=(32,16))
plt.hist([data[data['Survived'] == 1]['Fare'], data[data['Survived'] == 0]['Fare']], 
         stacked=True,
         bins = 50, label = ['Survived','Dead'])
plt.xlabel('Fare')
plt.ylabel('Number of Passengers')
plt.legend();

# แสดงการกระจายตัวของข้อมูลของ้อมูลแต่ละ column

In [ ]:
data.hist(bins=15, color='steelblue', edgecolor='black', linewidth=1.0, xlabelsize=8, ylabelsize=8, grid=False)    
plt.tight_layout(rect=(0, 0, 1.2, 1.2))

##แสดงการกระจายตัวของข้อมูลของ้อมูลแต่ละ column จาก master

# แสดงช้อมูลจำนวนผู้รอดชีวิตแยกตามระดับชั้นของผู้โดยสาร

In [ ]:
class_pivot = data.pivot_table(index="Pclass",values="Survived")
class_pivot.plot.bar()
plt.show()