In [ ]:
#NPRU Workshop
#การใช้งาน sql บน Colab

#SQL

## ติดตั้ง Library สำหรับเข้าถึง Colab Drive

In [ ]:
!pip install -U -q PyDrive

## ติดตั้ง Library สำหรับใช้คำสั่ง SQL บน Colab โดยตรง (Magic Command)

In [ ]:
!pip install ipython-sql

## ติดตั้ง Library สำหรับแสดง Table บน Colab

In [ ]:
!pip install qgrid

## Import library สำหรับเข้าถึง Colab drive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

## Import library สำหรับจัดการข้อมูล

In [ ]:
import pandas as pd
import numpy as np

## คำสั่งขอเข้าถึง Colab drive

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

## Download titanic database จาก Google drive และ save เป็นไฟล์ titanic.db

In [ ]:
link = 'https://drive.google.com/open?id=1-vYMHmB6c9vRSEWdVF5VI9UHOmmOnyay'

split, id = link.split('=')

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('titanic.db')

## Import library และเตรียมเรียกใช้ Magic command

In [ ]:
%load_ext sql

##ติดต่อ Database titanic.db

In [ ]:
 %sql sqlite:///titanic.db

## ดู Table ทั้งหมดใน Database titanic

In [ ]:
%sql SHOW TABLES

## ใช้คำสั้ง Magic command เพื่อ Select ข้อมูลทุก Column จำนวน 2 แถว จากตารางชื่อ titanic

In [ ]:
%%sql
select * from titanic limit 2

## ใช้คำสั้ง Magic command เพื่อ Select ข้อมูลทุก Column ทุกแถว จากตารางชื่อ titanic เก็บไว้ในตัวแปร df แบบ Dataframe

In [ ]:
data = %sql select * from titanic

In [ ]:
%%sql
PRAGMA table_info('titanic')

In [ ]:
df = pd.DataFrame(data = data, columns = data.field_names)

In [ ]:
df.set_index('PassengerId', inplace = True)

##ดูข้อมูลจากตัวแปร df จำนวน 5 แถวแรกสุด

In [ ]:
df.head()

#SQL

SQL มาจากคำว่า Structured Query Language เป็นภาษามาตรฐานในการเข้าถึงฐานข้อมูล โดยเราใช้ภาษา SQL ในงานต่างๆ เช่น การสืบค้นข้อมูลในฐานข้อมูล ใส่ข้อมูลเพิ่มเข้าไปยังฐานข้อมูล ปรับปรุงข้อมูลในฐานข้อมูล ลบรายการที่เราไม่ต้องการออกจากฐานข้อมูล สร้างฐานข้อมูลขึ้นมาใหม่ สร้างตาราง (Table) ในฐานข้อมูล เป็นต้น

##SQL SELECT

SELECT column1, column2, ...

FROM table_name

In [ ]:
%%sql
select name
from titanic

In [ ]:
%%sql
select sex
from titanic

###ex. ให้นักศึกษาเลือก 	Survived,	Pclass,	Name,	Sex,	Age จากตาราง titanic

##SQL SELECT DISTINCT

SELECT DISTINCT column1, column2, ...

FROM table_name

In [ ]:
%%sql
select distinct sex
from titanic

###จงแสดงท่าขึ้นเรือ

SELECT COUNT(DISTINCT column1,)

FROM table_name

In [ ]:
%%sql
select count(distinct sex)
from titanic

###จงนับจำนวนท่าขึ้นทั้งหมด

##SQL WHERE

SELECT column1, column2, ...

FROM table_name

WHERE condition

In [ ]:
%%sql
select name, age  
from titanic
where sex = 'male'

###จงแสดง ชื่อ อายุ และเพศ ของผู้โดยสารที่รอดชีวิต

##SQL AND, OR and NOT

SELECT column1, column2, ...

FROM table_name

WHERE condition1 AND condition2 AND condition3 ...

In [ ]:
%%sql
select name, age  
from titanic
where sex = 'female' and Pclass	= 1

###จงแสดง

SELECT column1, column2, ...

FROM table_name

WHERE condition1 OR condition2 OR condition3 ...

In [ ]:
%%sql
select name, age, embarked  
from titanic
where embarked = 'S' or embarked	= 'C'

###จงแสดง ชื่อ อายุ และเพศ ของผู้โดยสารชั้น 1 หรือชั้น 2

SELECT column1, column2, ...

FROM table_name

WHERE NOT condition

In [ ]:
%%sql
select *
from titanic
where not Embarked = 'S'

###จงแสดงข้อมูลทุก Column ที่ อายุไม่เท่ากับ None

##SQL ORDER BY

SELECT column1, column2, ...

FROM table_name

ORDER BY column1, column2, ... ASC|DESC

In [ ]:
%%sql
select name, fare
from titanic
order by fare asc

###จงแสดง ชื่อ ค่าโดยสาร และอายุ โดยเรียงลำดับอายุจากมากไปหาน้อย

##SQL NULL Values

SELECT column_names

FROM table_name

WHERE column_name IS NULL

In [ ]:
%%sql
select name, age
from titanic
where age is NULL

###จงแสดง ชื่อ ห้องพัก ของผู้โดยสาร ที่ไม่ระบุค่าโดยสาร

SELECT column_names

FROM table_name

WHERE column_name IS NOT NULL

In [ ]:
%%sql
select name, age
from titanic
where age is not NULL

###จงแสดง ชื่อ อายุ  และเพศ ที่มีการระบุห้องโดยสารทุกคน

##SQL MIN() and MAX()

SELECT MIN(column_name)

FROM table_name

WHERE condition

In [ ]:
%%sql
select min(fare)
from titanic
where pclass = 1

###จงหาอายุน้อยที่สุดของผู้โดยสารชั้น 1

SELECT MAX(column_name)

FROM table_name

WHERE condition

In [ ]:
%%sql
select max(fare)
from titanic
where pclass = 1

###จงหาอายุมากที่สุดของผู้โดยสารชั้น 1

##SQL COUNT(), AVG() and SUM()

SELECT COUNT(column_name)

FROM table_name

WHERE condition

In [ ]:
%%sql
select count(pclass)
from titanic
where pclass = 1

###จงนับจำนวนผู้รอดชีวิตของผู้โดยสารชั้นที่ 1

SELECT AVG(column_name)

FROM table_name

WHERE condition

In [ ]:
%%sql
select avg(age)
from titanic
where pclass = 1

###จงหาอายุเฉลี่ยของผู้โดยสารชั้น 3

SELECT SUM(column_name)

FROM table_name

WHERE condition

In [ ]:
%%sql
select sum(fare)
from titanic
where pclass = 1

###จงบวกราคาค่าโดยสารของชั้น 3 ทั้งหมด

##SQL LIKE

SELECT column1, column2, ...

FROM table_name

WHERE columnN LIKE pattern

In [ ]:
%%sql
select *
from titanic
where name like 'a%'

##Pattern

WHERE CustomerName LIKE 'a%'    Finds any values that start with "a"

WHERE CustomerName LIKE '%a'    Finds any values that end with "a"

WHERE CustomerName LIKE '%or%'    Finds any values that have "or" in any position

WHERE CustomerName LIKE '_r%'    Finds any values that have "r" in the second position

WHERE CustomerName LIKE 'a__%'    Finds any values that start with "a" and are at least 3 characters in length

WHERE ContactName LIKE 'a%o'    Finds any values that start with "a" and ends with "o"

###จงแสดงข้อมูลผู้โดยสารทุก column ที่ มีชื่อลงท้ายด้วย Oskar

##SQL IN

SELECT column_name(s)

FROM table_name

WHERE column_name IN (value1, value2, ...)

In [ ]:
%%sql
select *
from titanic
where age in (10,20)

###จงแสดงชื่อ อายุ เพศ ของคนที่ขึ้นท่าเรือ S และ Q โดยใช้สำสั่ง IN

SELECT column_name(s)

FROM table_name

WHERE column_name IN (SELECT STATEMENT)

In [ ]:
%%sql
select *
from titanic
where age in (select min(age) from titanic)

###จงแสดงข้อมูลทุก column ของคนที่อายุมากที่สุด

##The SQL BETWEEN

SELECT column_name(s)

FROM table_name

WHERE column_name BETWEEN value1 AND value2

In [ ]:
%%sql
select *
from titanic
where age between 10 and 15

###จงแสดงข้อมูลทุก column ของคนที่จ่ายค่าโดยสาร 100 ถึง 200

##SQL Aliases

SELECT column_name AS alias_name

FROM table_name

In [ ]:
%%sql
select sum(fare) as fare_sum
from titanic

###จงตั้งชื่อ column ของ ค่าเฉลี่ยของอายุเป็น age_avg

##SQL GROUP BY

SELECT column_name(s)

FROM table_name

WHERE condition

GROUP BY column_name(s)

ORDER BY column_name(s)

In [ ]:
%%sql
select avg(age), Pclass
from titanic
where survived = 1
group by Pclass
order by age

###จงแสดงข้อมูลอายุโดยเฉลี่ย และชั้นผู้โดยสารของ ของผู้เสียชีวิต โดยจัดกลุ่มตามอายุ และเรียงอายุเฉลี่ยจากมากไปน้อย

##The SQL HAVING

SELECT column_name(s)

FROM table_name

WHERE condition

GROUP BY column_name(s)

HAVING condition

ORDER BY column_name(s)